<nav id="menu" class="app-menu" aria-label="Primary navigation">
  <a href="/plants" class="app-menu__btn" aria-label="Plants">
    <img src="/assets/menu/home_menu.svg" alt="" class="app-menu__icon" />
  </a>

  <a href="/ladySprout" class="app-menu__btn" aria-label="LadySprout">
    <img src="/assets/menu/question_mark_menu.svg" alt="" class="app-menu__icon" />
  </a>

  <a href="/shop" class="app-menu__btn" aria-label="Shop">
    <img src="/assets/menu/shop_menu.svg" alt="" class="app-menu__icon" />
  </a>

  <a href="/encyclopedia" class="app-menu__btn" aria-label="Encyclopedia">
    <img src="/assets/menu/book_menu.svg" alt="" class="app-menu__icon" />
  </a>
</nav>
