<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  </head>
  <body>
    {{{body}}}
    ilikepierogi
    andcoding
    sproutyrules
    sproutynotspruyy
    pierogiislife

    <p>coucou {{ message }}</p>
    coucoujzenvezjbvernv
    qkdjs vbkjrqvoezqr
    jmvb jqerbvjernv

    <a href="/plants">Start</a>
    <button popovertarget="my-popover">About</button>
    <div popover id="my-popover">
      <h3>How it works?</h3>
      <p>Sprouty pairs with your real plants to help you care for them. It keeps an eye on water, light and temperature. It sends alerts when something needs adjusting.</p>
    </div>
  </body>
</html>