<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>ladySprout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

  </head>
  <body >
    <h1>LadySprout page</h1>

    <div>
      <h3>{{question.question}}</h3>
      {{#each question.answers}}
      {{!-- change POST to GET --}}
        <form action="/ladySprout/{{this}}" method="POST">
        {{!-- /encyclopedia/disease (encyclopedia_id) --}}
            <button type="submit">{{this}}</button>
        </form>
      {{/each}}
    </div>

    {{> menu}}
    
  </body>
</html>