doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      h1 #{plantData.name} detail
      h2 #{plantData.scientific_name}

      ul
        for info in plantData
          li= info
        else
          li sorry, no info!
