.lady-sprout-page {
  max-width: 430px;
  margin: 0 auto;
  padding: 0 16px 96px;
  box-sizing: border-box;
}


#ls-title-text{
  font-family: "Pixelify Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .35);

  position: relative;
  top: -70px;
  margin: auto;
}

.ls-right {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

/* raise bubble */
#ls-question {
  width: 100%;
  height: 250px;
  background-image: url('/assets/lady_sprout/chat_bubble_lady.svg');
  background-size: contain;   
  background-repeat: no-repeat;
  /* transform: scaleX(-1); */
}
#ls-bubble-text {
  padding: 1.5em;
  color: #3a3023;
}

#ls-an-container{
  gap: 2em;
    align-items: flex-end;
}

#ls-character {
  width: 150px;
}
#ls-character img { width: 100%; height: auto; display: block; }


#ls-answers{
  /* background-color: blue; */
  flex-grow: 2;
  
  
}

#ls-answers a {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  background-image: url('/assets/buttons/plain_button_big.svg');
  background-size: cover;  
  text-decoration: none;

}

#ls-answers a p{
  width: 100%;
  text-align: center;
  margin:0;

  font-family: "Pixelify Sans", sans-serif;
  /* font-size: 26px; */
  font-weight: 700;
  letter-spacing: 2px;
  color: #3a3023;
  
}
/* 
.ls-answers {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 280px;
}

.ls-answer-form { margin: 0; }

.ls-answer {
  position: relative;
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.ls-answer img { width: 100%; height: auto; display: block; }

.ls-answer span {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
} */
