body {
  padding: 0px;
  margin: 0px;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 16px;
}

a {
  color: #00B7FF;
}

p {
  color: sandybrown;
}

/** UTLITIES **/

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-1 {
  gap: 1em;
}
.column{
  flex-direction: column;
}
.flex-end{
  justify-content: flex-end;
}
.space-between{
  justify-content: space-between;
}

.align-centered{
  align-items: center;
}

.disabled{
  opacity: 40%;
}
