body {
  padding: 0px;
  margin: 0px;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 16px;
  background-color: aliceblue;
}

#container{
  max-width: calc(393px - 1em); /* iPhone 14 Pro width */
  min-height: 852px; /* iPhone 14 Pro height */;
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  background-color: white;
}

a {
  color: #00B7FF;
}

p {
  color: sandybrown;
}

/** UTLITIES **/

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-1 {
  gap: 1em;
}
.column{
  flex-direction: column;
}
.row{
  flex-direction: row;
}
.flex-end{
  justify-content: flex-end;
}
.space-between{
  justify-content: space-between;
}

.align-centered{
  align-items: center;
}
.align-baseline{
  align-items: baseline;
}

.disabled{
  opacity: 40%;
}
