body {
  padding: 50px;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 16px;
}

a {
  color: #00B7FF;
}

p {
  color: sandybrown;
}

/*****/

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-1 {
  gap: 1em;
}